#From http://blog.i-evaluation.com/2013/09/12/unity3d-with-git-gitignore-for-bitbucket-and-github/ #

twitch/

# ---------------[ Unity generated ]------------------ #
Temp/
Obj/
UnityGenerated/
Library/
 
# ----[ Visual Studio / MonoDevelop generated ]------- #
 
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
 
# -------------[ OS generated ]------------------------ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db